<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <link href="css/style.css" rel="stylesheet"> -->
		<style type="text/css">
      .login-btn {
				display: block;
			}
		</style>
	</head>
	<body>
	  <form action="/transfer/pay" method="get">
		<p>转账</p>
	  <label>
			转账账户：	
		</label>
		<input type="text" name="account" value="" >
		<label>
			金额：
		</label>
		<input type="text" name="money" value="" >
		<button class="login-btn">转账</button>
	</form>
	</body>
</html>